@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  
  --color-background: var(--bg-color);
  --color-surface: var(--surface-color);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-text: var(--text-color);
  --color-error: var(--error-color);
  --color-error-extra: var(--error-extra-color);
}

:root {
  /* Default Kreotype Dark Values */
  --bg-color: #000000;
  --surface-color: #0a0a0a;
  --primary-color: #685ACA;
  --secondary-color: #6b7280;
  --accent-color: #685ACA;
  --text-color: #ffffff;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
}

@layer base {
  * {
    @apply border-gray-900;
  }
  body {
    @apply bg-background text-text transition-colors duration-300;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-full hover:bg-gray-800 transition-colors;
}